.my-1 {
  margin: 0.5rem 0;
}

.my-2 {
  margin: 0.8rem 0;
}

.my-3 {
  margin: 1rem 0;
}

.my-4 {
  margin: 1.2rem 0;
}

.py-1 {
  padding: 0.5rem 0;
}

.py-2 {
  padding: 0.8rem 0;
}

.py-3 {
  padding: 1rem 0;
}

.py-4 {
  padding: 1.2rem 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.d-flex {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
