// Utilities
//––––––––––––––––––––––––––––––––––––––––––––––––––

.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

.u-pull-right {
  float: right;
}

.u-pull-left {
  float: left;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.text-decoration-none {
  text-decoration: none;
}

.text-dark {
  color: $font-color;
}

.text-center {
  text-align: center;
}

.card {
  background: #f4f4f4;
  padding: 1rem;
  overflow-x: auto;
}

.card-header {
  box-shadow: 0px 24px 3px -24px #121212;
}

$spaces: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20);
$sides: (top, right, bottom, left);

@each $space in $spaces {
  .m-#{$space} {
    margin: #{$space/4}rem;
  }
  .p-#{$space} {
    padding: #{$space/4}rem;
  }
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space/4}rem !important;
    }
    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space/4}rem !important;
    }
  }
}
